@font-face {
  font-family: 'CS-Bold';
  src: url('assets/fonts/CSTypeEP-Bold.ttf');
}

@font-face {
  font-family: 'CS-Body';
  src: url('assets/fonts/CSTypeEP-Roman.ttf');
}

@font-face {
  font-family: 'CS-Header';
  src: url('assets/fonts/CreditSuisseHeadline-Regular.ttf');
}

/* default styles */

h1 {
  font-size: 38px !important;
}

h2 {
  font-size: 30px !important;
}

h3 {
  font-size: 24px !important;
  font-family: 'CS-Body' !important;
  font-weight: 700;
}

h4 {
  font-family: 'CS-Body' !important;
  font-size: 16px !important;
  font-weight: bold;
}

h5 {
  font-family: 'CS-Body' !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'CS-Body', Arial, Helvetica, sans-serif !important;
  font-size: small;
  color: black;
}

/* CS components */
input,
textarea {
  border-radius: 0;
  border-width: 1px;
  padding: 0.5rem 0.7rem;
  width: 100%;
}

select {
  width: 100%;
}
