.leaderboard_header {
  border-bottom: 1px solid black;
  
}

.leaderboard_content {
  color: 'rgba(0,0,0,.87)';
  border-bottom: 1px solid gray;
}

.filter-column {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}


.buttons {
  align-self: center;
}
