.leaderboard_header {
  border-bottom: 1px solid black;
}

.leaderboard_content {
  color: 'rgba(0,0,0,.87)';
  border-bottom: 1px solid gray;
}

.filter-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.button-row {
  display: flex;
  
}

.button-tab {
  background-color: white;
  border: black solid 1px;
  height: 40px;
  width: 34%;
  font-weight: normal;
  font-size: 16px;
}

.button-tab:focus {
  outline: none;
}

.button-tab:nth-child(2){
  margin: 0 -1px;
}

.selected-button-tab {
  background-color: black;
  color: white;
}
