.leaderboard_header {
  border-bottom: 1px solid black;
}

.leaderboard_content {
  color: 'rgba(0,0,0,.87)';
  border-bottom: 1px solid gray;
}

.filter-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.filter-column button {
  width: 33%;
  font-size: 3.5vw;
}

.buttons {
  align-self: center;
}
