.question-item {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.question-number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-item h1 {
  font-size: 18px !important;
}

.question-item h2,
.question-item h3 {
  font-size: 16px !important;
}
