.question-item {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.question-number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content{
  padding: 2%;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 4px;
}


pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.linkToWebapp{
  padding: 2%;
  
}

div#markdown {
  padding: 0 1rem 1rem;
}

/*
  A hack to make h2 font larger than h1 font,
  because that's what the backend is sending us
*/
div#markdown h1 {
  font-size: 30px !important;
}

div#markdown h2 {
  font-size: 38px !important;
}

div#markdown h1, div#markdown h2 {
  padding-bottom: .3em !important;
  border-bottom: 1px solid #eaecef;
}

div#markdown ul {
  list-style-type: disc !important;
}

div#markdown th, div#markdown td {
  text-align: left;
  padding: 6px 13px !important;
  border: 1px solid #dfe2e5 !important;
}

div#markdown tr:nth-child(even) {background-color: #f2f2f2;}

div#markdown table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 40px;
  margin-top: 35px;
}

div#markdown tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

div#markdown thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}